html {
    /*background: url(/data/images/background.jpg) no-repeat center center fixed;*/
    background-image: linear-gradient(to bottom right, #fff, #1E4B73);
    /*background-color: #ccc;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    margin-top: 45px;
    margin-bottom: 30px;
    padding: 0;
}

a {
    text-decoration: none;
}

#body {
    padding: 20px 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    min-height: 100%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 32px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px -1px rgba(0, 0, 0, 0.75);
}

@media (min-width: 768px) {
    #body {
        width: 750px;
    }
}

@media (min-width: 992px) {
    #body {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    #body {
        width: 1170px;
    }
}

.f16 {
    max-width: 320px;
    display: inline-block;
    vertical-align: top;
}

.f16 .flag, {
    width: auto;
    clear: right;
}

.f16 .flag {
    padding-left: 20px;
}

.f16 span.flag {
    display: inline-block;
    width: auto;
}

.f16 span.flag {
    /*margin-right: 20px;*/
}

.flag.deprecated {
    color: silver;
}

.flag.island {
    color: navy;
}

.langs {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    /*margin-top: -66px;*/
    padding: 5px;
    z-index: 1;
}

.langs p {
    margin: 0 !important;
}

.langs ul {
    -webkit-padding-start: 0px;
    padding: 1px
}

.langs ul li {
    list-style-type: none;
    white-space: nowrap;
}

.langs span {
    float: left;
}

#app-lang span:hover, .langs li:hover {
    color: black;
    cursor: pointer
}

#app-lang {

    padding: 1px
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 10px 0;
    text-align: center;
}

.slide {
    margin-bottom: 40px;
}

#success_message {
    display: none;
}

.box-message {
    left: 0;
    right: 0;
    top: 60px;
    position: fixed;
    margin: auto;
    z-index: 9999;
}

@media (min-width: 768px) {
    .box-message {
        width: 375px;
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .box-message {
        width: 475px;
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .box-message {
        width: 565px;
        max-width: 1170px;
    }
}

.pop-up {
    -webkit-box-shadow: 0 0 20px 5px #787878;
    box-shadow: 0 0 20px 5px #787878;
}

@media (min-width: 768px) {
    .navbar-nav {
        margin-top: 15px;
    }
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand {
        margin-top: -5px;
    }
}

.navbar-top {
    min-height: 73px !important;
}

.login {
    margin-top: 27px;
}

.set-logo {
    background: #fff;
    color: #ddd;
    border-radius: 500%;
    padding: 11px;
    font-size: 108px;
    border: solid #ddd 14px;
}

.logo {
    margin-top: 27px;
    margin-bottom: 54px;
}

.last-row {
    margin-bottom: 0px;
}

.checklabel {
    font-weight: 100;
}

.edit-bot {
    bottom: 5px;
}

@media (max-width: 768px) {
    .navbar-top .navbar-collapse {
        margin-top: 26px;
    }
}

.recaptcha_widget_div_has-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}

.gallery {
    display: inline-block;
    margin-top: 20px;
}

.like-link {
    color: #337ab7;
    text-decoration: none;
}

.like-link:hover,
.like-link:focus {
    color: #23527c;
    text-decoration: underline;
    cursor: pointer;
}

.like-link:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.add-new-select {
    width: 150px !important;
}

#loader {

    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1051;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader-backGround { z-index: 1051 !important; }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

body {
    font-family: sans-serif;
}

.cols {
    width: 31.6%;

    margin-left: 15px;
    float: left;
}

.gallery {
    margin: auto;
    display: inline-table;
    width: 100%;
}

.images {
    display: inline-table;
    margin: 2px 5px 2px 5px
}

.no-margins {
    padding: 0 !important;
    height: 200px;
    max-height: 200px;
    overflow: hidden
}

.img-relative {
    position: relative;
}

.checkbox-img {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.viewContent ul {
    float: left;
    display: inline-grid;
}
.viewContentGallery {
    width: 77%;
    float: right;
    padding: 0 15px 0 10px;
}
.viewContentGallery .page-header, h3 {
margin : 0;
    margin-bottom: 20px;
}

#dragandrophandler
{
    border:2px dotted #1E4B73;
    width:100%;
    height: 100px;
    color:#92AAB0;
    text-align:left;vertical-align:middle;
    padding:10px 10px 10 10px;
    margin-bottom:10px;
    font-size:200%;
}
.progressBar {
    width: 100%;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display:inline-block;
    margin:0px 10px 5px 5px;
    vertical-align:top;
}

.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #1E4B73; border-radius: 3px;
}
.statusbar
{
    border-top:1px solid #A9CCD1;
    min-height:25px;
    width:100%;
    padding:10px 10px 0px 10px;
    vertical-align:top;
}
.statusbar:nth-child(odd){
    background:#EBEFF0;
}
.filename
{
    display:inline-block;
    vertical-align:top;
    width:250px;
}
.filesize
{
    display:inline-block;
    vertical-align:top;
    color:#30693D;
    width:100px;
    margin-left:10px;
    margin-right:5px;
}
.abort{
    background-color:#A8352F;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;display:inline-block;
    color:#fff;
    font-family:arial;font-size:13px;font-weight:normal;
    padding:4px 15px;
    cursor:pointer;
    vertical-align:top
}

span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 160px;
    left: 0;
    position: absolute;
    top: 0;
    width: 160px;
}

span.text-content i, span.text-content a, span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    color: #ffffff;
    margin: auto;
}
span.text-content i {
    display: inline-block;
    margin: auto;
}
span.text-content i:hover, span.text-content a:hover {
    text-decoration: none;
    color: #CCCCCC;
}
span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 160px;
    left: 0;
    position: absolute;
    top: 0;
    width: 160px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 160px;
    left: 0;
    position: absolute;
    top: 0;
    width: 160px;
    opacity: 0;
}

.images:hover span.text-content {
    opacity: 1;
}

.images {
    display: inline-block;
    position: relative;
}