html {
    /*background: url(/data/images/background.jpg) no-repeat center center fixed;*/
    background-color: #ccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    margin-top: 45px;
    margin-bottom: 30px;
    padding: 0;
}

a {
    text-decoration: none;
}

#body {
    padding: 20px 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    min-height: 100%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 32px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px -1px rgba(0, 0, 0, 0.75);
}

@media (min-width: 768px) {
    #body {
        width: 750px;
    }
}

@media (min-width: 992px) {
    #body {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    #body {
        width: 1170px;
    }
}

.f16 {
    max-width: 320px;
    display: inline-block;
    vertical-align: top;
}

.f16 .flag, {
    width: auto;
    clear: right;
}

.f16 .flag {
    padding-left: 20px;
}

.f16 span.flag {
    display: inline-block;
    width: auto;
}

.f16 span.flag {
    /*margin-right: 20px;*/
}

.flag.deprecated {
    color: silver;
}

.flag.island {
    color: navy;
}

.langs {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    /*margin-top: -66px;*/
    padding: 5px;
    z-index: 1;
}

.langs p {
    margin: 0 !important;
}

.langs ul {
    -webkit-padding-start: 0px;
    padding: 1px
}

.langs ul li {
    list-style-type: none;
    white-space: nowrap;
}

.langs span {
    float: left;
}

#app-lang span:hover, .langs li:hover {
    color: black;
    cursor: pointer
}

#app-lang {

    padding: 1px
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 10px 0;
    text-align: center;
}

.slide {
    margin-bottom: 40px;
}

#success_message {
    display: none;
}

.box-message {
    left: 0;
    right: 0;
    top: 60px;
    position: fixed;
    margin: auto;
    z-index: 9999;
}

@media (min-width: 768px) {
    .box-message {
        width: 375px;
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .box-message {
        width: 475px;
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .box-message {
        width: 565px;
        max-width: 1170px;
    }
}

.pop-up {
    -webkit-box-shadow: 0 0 20px 5px #787878;
    box-shadow: 0 0 20px 5px #787878;
}

@media (min-width: 768px) {
    .navbar-nav {
        margin-top: 15px;
    }
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand {
        margin-top: -5px;
    }
}

.navbar-top {
    min-height: 73px !important;
}

.login {
    margin-top: 27px;
}

.set-logo {
    background: #fff;
    color: #ddd;
    border-radius: 500%;
    padding: 11px;
    font-size: 108px;
    border: solid #ddd 14px;
}

.logo {
    margin-top: 27px;
    margin-bottom: 54px;
}

.last-row {
    margin-bottom: 0px;
}

.checklabel {
    font-weight: 100;
}

.edit-bot {
    bottom: 5px;
}

@media (max-width: 768px) {
    .navbar-top .navbar-collapse {
        margin-top: 26px;
    }
}

.recaptcha_widget_div_has-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}
.gallery
{
    display: inline-block;
    margin-top: 20px;
}
.like-link {
    color: #337ab7;
    text-decoration: none;
}
.like-link:hover,
.like-link:focus {
    color: #23527c;
    text-decoration: underline;
    cursor: pointer;
}
.like-link:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.add-new-select {
    width: 150px !important;
}